@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');
.main{
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color:rgb(60, 210, 0);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 3em;
    border-bottom: 2em solid rgb(60, 210, 0);
}

.cont{
    display: flex;
    flex-direction: row;
    gap: 10em;
    align-items: center;
    justify-content: center;
    font-family: 'Inconsolata', monospace;
 
}

.form, .link{
    color: white;
    font-size:23px;
    text-decoration-line: none;
    margin-top: 3%;
}

.form{
    margin-left: 3em;
}

.link{
    font-size:23px;
    margin-right: 3.5em;
}

.search{
    padding-top: -1em;
    color: aliceblue;
}

.form:hover{
    color: red;
}

.link:hover{
    color: red;
}

.circularButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    color: red;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    font-size: 32px;
  }

  .returnto{
    color: white;
    font-size:23px;
    text-decoration-line: none;
    margin-top: 3%;
}